@import url(http://fonts.googleapis.com/css?family=VT323);
@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);
@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
@import url(http://fonts.googleapis.com/css?family=Geostar);
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch);
@import url(http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

a {
  color: #800000;
}

.img-container-one {
  background: url("../img/1.jpg") no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  background-attachment: fixed;
  display: block;
  position: relative;
  min-height: 100%;
  min-width: 100%;
  margin: 0 auto;
}
.img-container-one footer {
  position: absolute;
  margin-top: 400px;
  margin-left: 60%;
  padding-right: 5%;
  text-align: left;
  color: white;
  min-width: 250px;
  font-family: 'VT323', cursive;
  font-size: 20pt;
  display: inline-block;
}

.stats-container {
  padding: 4px;
  position: absolute;
  display: block;
  background: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.8);
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  font-family: 'VT323', cursive;
  font-size: 16pt;
  float: left;
  width: 425px;
  height: 325px;
  border-radius: 0 0 5px 5px;
  margin-left: 50px;
  padding: 0px;
}
.stats-container h2 {
  font-size: 35pt;
  font-family: 'Geostar', sans-serif;
  color: red;
  border-bottom: 1px solid red;
  margin: 15px 0px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.stats-container td {
  padding: 5px 10px;
}
.stats-container .stat {
  font-weight: bold;
  text-align: right;
  text-decoration: underline;
}

.right {
  float: right;
  margin-right: 50px;
  width: 370px;
  height: 85px;
}
.right h2 {
  border-bottom: none;
}

.img-container-two {
  background: url("../img/2.jpg") no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  background-attachment: fixed;
  display: block;
  position: relative;
  min-height: 100%;
  min-width: 100%;
}
.img-container-two .bio {
  margin-left: 5%;
  padding-top: 115px;
}
.img-container-two .bio p {
  font-size: 16pt;
}
.img-container-two footer {
  position: absolute;
  margin-top: 400px;
  margin-left: 60%;
  padding-right: 5%;
  text-align: left;
  color: white;
  min-width: 250px;
  font-family: 'VT323', cursive;
  font-size: 20pt;
  display: inline-block;
}

.img-container-three {
  background: url("../img/3.jpg") no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  background-attachment: fixed;
  display: block;
  position: relative;
  min-height: 100%;
  min-width: 100%;
}
.img-container-three footer {
  position: absolute;
  margin-top: 600px;
  margin-left: 60%;
  padding-right: 5%;
  text-align: right;
  color: white;
  min-width: 250px;
  font-family: 'VT323', cursive;
  font-size: 20pt;
  display: inline-block;
}

.img-container-four {
  background: url("../img/4.jpg") no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  background-attachment: fixed;
  display: block;
  position: relative;
  min-height: 100%;
  min-width: 100%;
}
.img-container-four footer {
  position: absolute;
  margin-top: 500px;
  margin-left: 60%;
  padding-right: 20%;
  text-align: left;
  color: white;
  min-width: 45%;
  font-family: 'VT323', cursive;
  font-size: 20pt;
  display: inline-block;
}

.sidebar {
  width: 35%;
  margin: 15px 20px;
}
.sidebar p {
  color: white;
  padding-left: 90px;
  text-align: center;
  font-family: 'VT323', cursive;
  font-size: 16pt;
}

/***** FIRST CREATE THE BUBBLE ****/
p.banner {
  float: left;
  position: absolute;
  display: inline-block;
  font-family: 'Covered By Your Grace', cursive;
  margin-top: 450px;
  margin-left: 5%;
  line-height: 1em;
  color: black;
  font-weight: bold;
  font-size: 134px;
  position: absolute;
  text-align: left;
  font-size: 38px;
  width: 350px;
  /*size of the bubble*/
  background: #f8f3c2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f8f3c2 0%, #f6f0b2 40%, #f3eb99 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f3c2), color-stop(40%, #f6f0b2), color-stop(100%, #f3eb99));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f8f3c2 0%, #f6f0b2 40%, #f3eb99 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f8f3c2 0%, #f6f0b2 40%, #f3eb99 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f8f3c2 0%, #f6f0b2 40%, #f3eb99 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f8f3c2 0%, #f6f0b2 40%, #f3eb99 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f3c2', endColorstr='#f3eb99',GradientType=0 );
  /* IE6-9 */
  padding: 15px;
  /*curved corners*/
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

/***** CREATE THE TRIANGLE *****/
/*****FINALLY MAKE THE CENTRE OF THE TRIANGLE TRANPARENT****/
.opposite {
  text-shadow: 0 3px 6px #222,0 3px 6px #333;
  font-family: 'Covered By Your Grace', cursive;
  text-align: left;
  font-size: 38px;
  color: white;
  position: absolute;
  /*see the support section below for more info*/
  display: inline-block;
  width: 350px;
  /*size of the bubble*/
  background: rgba(255, 255, 255, 0.5);
  /*same as the container background*/
  padding: 15px;
  /*add the bubble outline*/
  /*give the bubble curved corners*/
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

/***** CREATE THE TRIANGLE *****/
/*****FINALLY MAKE THE CENTRE OF THE TRIANGLE TRANPARENT****/
.opposite:after {
  content: "";
  position: absolute;
  /*see the support section below for more info*/
  bottom: -20px;
  /* value = -(border-top-width - border-bottom-width) */
  right: 45px;
  /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width: 20px 20px 0 20px;
  border-style: solid;
  border-color: rgba(204, 204, 204, 0.5) transparent;
  /*colour should be the same as the container background*/
}

.middle-quote {
  background: rgba(255, 255, 255, 0.5);
  text-align: right;
  padding: 10px;
  color: #8F74F0;
  border-radius: 15px;
  margin-top: 30%;
  margin-left: 7%;
  position: absolute;
  display: block;
  width: 20%;
  min-width: 200px;
  font-family: 'Walter Turncoat', cursive;
  font-size: 30px;
  text-shadow: 0 3px 6px #222,0 3px 6px #333;
  line-height: 40px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5) transparent;
}

@media screen and (max-width: 500px) {
  p.banner {
    position: absolute;
    display: inline-block;
    font-family: 'Covered By Your Grace', cursive;
    margin-top: 90%;
    line-height: 1em;
    color: black;
    font-weight: bold;
    font-size: 134px;
    position: absolute;
    text-align: left;
    font-size: 38px;
    width: 82%;
    /*size of the bubble*/
    background: #f8f3c2;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f8f3c2 0%, #f6f0b2 40%, #f3eb99 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f3c2), color-stop(40%, #f6f0b2), color-stop(100%, #f3eb99));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f8f3c2 0%, #f6f0b2 40%, #f3eb99 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f8f3c2 0%, #f6f0b2 40%, #f3eb99 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f8f3c2 0%, #f6f0b2 40%, #f3eb99 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f8f3c2 0%, #f6f0b2 40%, #f3eb99 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f3c2', endColorstr='#f3eb99',GradientType=0 );
    /* IE6-9 */
    padding: 15px;
    /*curved corners*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
  }

  .img-container-one footer {
    display: block;
    position: relative;
    margin-top: 470px;
    margin-left: 10%;
    text-align: left;
    color: white;
    min-width: 90%;
    font-family: 'VT323', cursive;
    font-size: 20pt;
    display: inline-block;
  }

  .img-container-two footer {
    display: block;
    position: relative;
    margin-top: 400px;
    margin-left: 10%;
    text-align: left;
    color: white;
    min-width: 90%;
    font-family: 'VT323', cursive;
    font-size: 20pt;
    display: inline-block;
  }

  .img-container-three footer {
    display: block;
    position: relative;
    margin-top: 470px;
    margin-left: 10%;
    text-align: left;
    color: white;
    min-width: 90%;
    font-family: 'VT323', cursive;
    font-size: 20pt;
    display: inline-block;
  }

  .img-container-four footer {
    display: block;
    position: relative;
    margin-top: 470px;
    margin-left: 10%;
    text-align: left;
    color: white;
    min-width: 90%;
    font-family: 'VT323', cursive;
    font-size: 20pt;
    display: inline-block;
  }
}
