html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

a {
  color: #800000;
}

.img-container-one {
  background: url("../img/1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  background-attachment: fixed;
  display: block;
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

.img-container-two {
  background: url("../img/2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  background-attachment: fixed;
  display: block;
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

.img-container-three {
  background: url("../img/3.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  background-attachment: fixed;
  display: block;
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

.img-container-four {
  background: url("../img/4.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  background-attachment: fixed;
  display: block;
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

.footer-bar-reboot-blue {
  width: 100%;
  height: 7%;
  background: #3CDDFF;
  z-index: 1;
  display: block;
}

.footer-bar-cyan-green {
  width: 100%;
  height: 7%;
  background: #92FE96;
  z-index: 1;
  display: block;
}

.footer-bar-boba-purp {
  width: 100%;
  height: 7%;
  background: #9179E7;
  z-index: 1;
  display: block;
}

.header-bar-galaxy-orange {
  background: #FF8B00;
  background: #FF8700;
  width: 100%;
  height: 7%;
  z-index: 1;
  display: block;
}

.footer-bar-naboo-yellow {
  background: #FFC20D;
  width: 100%;
  height: 7%;
  z-index: 1;
  display: block;
}

.footer-bar-ikb {
  background: #0033CC;
  width: 100%;
  height: 7%;
  z-index: 1;
  display: block;
}

/****** THOUGHT BUBBLE *****/
.thought {
  float: right;
  position: relative;
  /*see the support section below for more info*/
  width: 400px;
  /*size of the bubble*/
  padding: 20px 40px;
  margin: 40px 10px 80px 40px;
  /**give the bubble's background a gradient**/
  background: #f7a944;
  /*fallback colour for non-supporting browsers*/
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fac868), to(#f3961c));
  background: -moz-linear-gradient(#fac868, #f3961c);
  background: -o-linear-gradient(#fac868, #f3961c);
  background: linear-gradient(#fac868, #f3961c);
  /**give the corners a large curve**/
  -webkit-border-radius: 180px;
  -moz-border-radius: 180px;
  border-radius: 180px;
  /**add a drop shadow to the bubble**/
  -webkit-box-shadow: -3px 4px 8px #989898;
  -moz-box-shadow: -3px 4px 8px #989898;
  box-shadow: -3px 4px 8px #989898;
  /**style the text**/
  color: #575544;
  font-size: 1em;
  letter-spacing: .06em;
}

/******CIRCLES*****/
/****LARGE CIRCLE***/
p.thought:before {
  content: "";
  position: absolute;
  /*see the support section below for more info*/
  bottom: -40px;
  /*distance from the bottom of the bubble*/
  left: 20px;
  /*distance from the left edge of the bubble*/
  background: #f3961c;
  width: 30px;
  /*same as the height*/
  height: 30px;
  /*same as the width*/
  /*add a curve to the corners the same size as the height and width*/
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  /*add a drop shadow*/
  -webkit-box-shadow: -3px 3px 4px #989898;
  -moz-box-shadow: -3px 3px 4px #989898;
  box-shadow: -3px 3px 8px #989898;
}

/*****SMALL CIRCLE***/
/**Created exactly the same way as the large circle, except with smaller width, height and border-radius**/
p.thought:after {
  content: "";
  position: absolute;
  bottom: -55px;
  left: 0;
  width: 15px;
  height: 15px;
  background: #f3961c;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: -3px 3px 4px #989898;
  -moz-box-shadow: -3px 3px 4px #989898;
  box-shadow: -3px 3px 8px #989898;
}

/*SPEECH BUBBLE*/
blockquote.quote {
  position: absolute;
  /*see the support section below for more info*/
  right: 10px;
  width: 400px;
  /*size of the bubble*/
  padding: 20px;
  margin: 20px 0 30px 40px;
  color: #f6edf6;
  /**Give the corners a curve **/
  -webkit-border-radius: 0px 0px /60px;
  -moz-border-radius: 30px /60px;
  border-radius: 30px /60px;
  /* the second value, preceded by a / defines the vertical radius*/
  /**Add a gradient to the background of the bubble**/
  background: #c49bc4;
  /*required for browsers that don't support gradients*/
  background: -webkit-gradient(#7e527f, #c49bc4);
  background: -moz-linear-gradient(#7e527f, #c49bc4);
  background: -o-linear-gradient(#7e527f, #c49bc4);
  background: linear-gradient(#7e527f, #c49bc4);
}

/*****NOW CREATE THE TRIANGLE*****/
/**because this is an obtuse triangle we'll create it in two sections**/
/**First the coloured section that you see as the triangle**/
blockquote.quote:before {
  content: "";
  position: absolute;
  /*see the support section below for more info*/
  bottom: -30px;
  /*height of the triangle*/
  right: 80px;
  /*distance from the right edge of the bubble*/
  border-width: 0 0 30px 60px;
  /*3rd value is height of the triangle and must be same as bottom*/
  border-style: solid;
  border-color: transparent #c49bc4;
  /*colour of the triangle*/
}
