@import "library";
@import "reset";


// Global templates

%group:after {
    display: table;
    clear: both;
    content: "";
}

%container {
    margin: 0 auto;
    max-width: 960px;
}


@mixin background-image($name) {
  $url:"../img/#{$name}.jpg";
  background: url($url);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      margin: 0 auto;
      background-attachment: fixed;

}

@mixin page-set {
    display: block;
    position: relative;
    min-height: 100%;
    min-width: 100%
}


html  {
  height: 100%



}


body {

    height: 100%;
}

a {
    color: #800000;
}



// Everything else




 .img-container-one {
    @include background-image(1);
    @include page-set
}

$thin-border: 1px solid white;

@import "stats";

 .img-container-two {
    @include background-image(2);
    @include page-set;
    .bio {
        margin-left: 15%;
        padding-top: 115px;
        p {
          font-size: 16pt;
        }
  }
  footer {
    float: right;
    margin-right: 50px;
    text-align: right;
    color: white;
    width: 300px;
    font-family: 'VT323', cursive;
    font-size: 20pt;

  }
}

 .img-container-three {
    @include background-image(3);
    @include page-set
}

 .img-container-four {
    @include background-image(4);
    @include page-set
}

.sidebar {
  float: right;
  width: 35%;
  margin: 15px 20px;
  p {
    color: white;
    padding-left: 90px;
    text-align: center;
    font-family: 'VT323', cursive;
    font-size: 16pt;
  }
}

$secondary: rgba(255,255,255,0.5);
$primary: darken($secondary, 20%);


/***** FIRST CREATE THE BUBBLE ****/
p.border {
font-family: 'Covered By Your Grace', cursive;
text-align: left;
font-size: 38px;
color: white;
position:relative; /*see the support section below for more info*/
width:350px; /*size of the bubble*/
background: $secondary; /*same as the container background*/
padding:15px;
color:#333;
/*add the bubble outline*/
/*give the bubble curved corners*/
-webkit-border-radius:15px;
-moz-border-radius:15px;
border-radius:15px;
}
/***** CREATE THE TRIANGLE *****/
/*****FINALLY MAKE THE CENTRE OF THE TRIANGLE TRANPARENT****/
p.border:after {
content:"";
position:absolute; /*see the support section below for more info*/
bottom:-20px; /* value = -(border-top-width - border-bottom-width) */
left: 45px; /* value = (:before left) + (:before border-left) - (:after border-left) */
border-width:20px 20px 0 20px;
border-style:solid;
border-color: $secondary transparent; /*colour should be the same as the container background*/

}

p.opposite {
font-family: 'Covered By Your Grace', cursive;
text-align: left;
font-size: 38px;
color: white;
position:relative; /*see the support section below for more info*/
width:350px; /*size of the bubble*/
background: $secondary; /*same as the container background*/
padding:15px;
color:#333;
/*add the bubble outline*/
/*give the bubble curved corners*/
-webkit-border-radius:15px;
-moz-border-radius:15px;
border-radius:15px;
}
/***** CREATE THE TRIANGLE *****/
/*****FINALLY MAKE THE CENTRE OF THE TRIANGLE TRANPARENT****/
p.opposite:after {
content:"";
position:absolute; /*see the support section below for more info*/
bottom:-20px; /* value = -(border-top-width - border-bottom-width) */
right: 45px; /* value = (:before left) + (:before border-left) - (:after border-left) */
border-width:20px 20px 0 20px;
border-style:solid;
border-color: $secondary transparent; /*colour should be the same as the container background*/

}



